# Rojo build output
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx
!assets/**/*.rbxm
!assets/**/*.rbxmx
*.lock

# Tooling
sourcemap.json
/Packages
/ServerPackages
/DevPackages

# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
